.metadata-scripting,
:global(.metadata-scripting) {
  color: var(--alkali-metal-color);
}

.inline-text-semantics,
:global(.inline-text-semantics) {
  color: var(--alkaline-earth-metal-color);
}

.image-multimedia-embedded-content,
:global(.image-multimedia-embedded-content) {
  color: var(--lanthanoid-color);
}

.content-sectioning-root,
:global(.content-sectioning-root) {
  color: var(--actinoid-color);
}

.text-content,
:global(.text-content) {
  color: var(--transition-metal-color);
}

.forms,
:global(.forms) {
  color: var(--post-transition-metal-color);
}

.interactive-elements,
:global(.interactive-elements) {
  color: var(--metalloid-color);
}

.root-element,
:global(.root-element) {
  color: var(--other-nonmetal-color);
}

.tabular-data,
:global(.tabular-data) {
  color: var(--noble-gasses-color);
}

.obsolete-and-deprecated,
:global(.obsolete-and-deprecated) {
  color: var(--light-gray-color);
}

.web-components,
:global(.web-components) {
  color: var(--light-green-color);
}
