@import-normalize;

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

dl,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

dialog {
  &::backdrop {
    transition-duration: 500ms;
    pointer-events: none;
  }
}
