@import-normalize;

* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

dl,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul,
ol {
  list-style-type: none;
}

dd {
  margin-left: 0;
}

dialog {
  max-height: fit-content;

  &::backdrop {
    transition-duration: 500ms;
  }
}
