:root {
  --grid-gap: 5;
  --column-count: 18;
  --bg-color: #101318;
  --alkali-metal-color: #ecbe59;
  --alkaline-earth-metal-color: #dee955;
  --lanthanoid-color: #ec77a3;
  --actinoid-color: #c686cc;
  --transition-metal-color: #fd8572;
  --post-transition-metal-color: #4cddf3;
  --metalloid-color: #3aefb6;
  --other-nonmetal-color: #52ee61;
  --noble-gas-color: #759fff;
  --form-max-width: calc((96vw - (var(--column-count) - 1) * var(--grid-gap) * 1px) / var(--column-count));
}
