@for $i from 1 to 18 {
  :global(.r$(i)) { grid-row: $(i); }
  :global(.c$(i)) { grid-column: $(i); }
}

:global(.hidden-less-than-desktop) {
  @media (--viewport-less-than-desktop) {
    display: none !important;
  }
}

:root {
  @media (--viewport-tablet) {
    --column-count: 6;
  }

  @media (--viewport-phone) {
    --column-count: 3;
  }

  @media (--viewport-less-than-phone) {
    --column-count: 2;
  }
}
