include ./element-mixin-partials

+elementGenerator(1, 'html', 'Document root element', ['//developer.mozilla.org/en/HTML/Element/html', '//www.w3.org/TR/html5/semantics.html#the-html-element-0'], 'root-element', 1, 1)
+elementGenerator(2, 'col', 'Columns in a table', ['//developer.mozilla.org/en/HTML/Element/col', '//www.w3.org/TR/html5/tabular-data.html#the-col-element'], 'tabular-data', 17, 1)
+elementGenerator(3, 'table', 'Table of multi-dimensional data', ['//developer.mozilla.org/en/HTML/Element/table', '//www.w3.org/TR/html5/tabular-data.html#the-table-element'], 'tabular-data', 18, 1)

+elementGenerator(4, 'head', 'First element of the HTML document. Contains document metadata', ['//developer.mozilla.org/en/HTML/Element/head', '//www.w3.org/TR/html5/semantics.html#the-head-element-0'], 'metadata-and-scripting', 1, 2)
+elementGenerator(5, 'span', 'Container with no semantic meaning', ['//developer.mozilla.org/en/HTML/Element/span', '//www.w3.org/TR/html5/text-level-semantics.html#the-span-element'], 'text-level-semantics', 2, 2)
+elementGenerator(6, 'div', 'Container with no semantic meaning', ['//developer.mozilla.org/en/HTML/Element/div', '//www.w3.org/TR/html5/grouping-content.html#the-div-element'], 'grouping-content', 11, 2)
+elementGenerator(7, 'fieldset', 'Set of form controls grouped by theme', ['//developer.mozilla.org/en/HTML/Element/fieldset', '//www.w3.org/TR/html5/rendering.html#the-fieldset-element-0'], 'forms', 12, 2)
+elementGenerator(8, 'form', 'Form', ['//developer.mozilla.org/en/HTML/Element/form', '//www.w3.org/TR/html5/forms.html#the-form-element'], 'forms', 13, 2)
+elementGenerator(9, 'body', 'Document content', ['//developer.mozilla.org/en/HTML/Element/body', '//www.w3.org/TR/html5/sections.html#the-body-element-0'], 'document-sections', 14, 2)
+elementGenerator(10, 'h1', 'Heading for the current section', ['//developer.mozilla.org/en/HTML/Element/hn/', '//www.w3.org/TR/html5/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements'], 'document-sections', 15, 2)
+elementGenerator(11, 'section', 'Contains elements grouped by theme, for example a chapter or tab box', ['//developer.mozilla.org/en/HTML/Element/section', '//www.w3.org/TR/html5/sections.html#the-section-element'], 'document-sections', 16, 2)
+elementGenerator(12, 'colgroup', 'Defines a group of columns in a table', ['//developer.mozilla.org/en/HTML/Element/colgroup', '//www.w3.org/TR/html5/tabular-data.html#the-colgroup-element'], 'tabular-data', 17, 2)
+elementGenerator(13, 'tr', 'A row of cells', ['//developer.mozilla.org/en/HTML/Element/tr', '//www.w3.org/TR/html5/tabular-data.html#the-tr-element'], 'tabular-data', 18, 2)

+elementGenerator(14, 'title', 'Document title', ['//developer.mozilla.org/en/HTML/Element/title', '//www.w3.org/TR/html5/semantics.html#the-title-element-0'], 'metadata-and-scripting', 1, 3)
+elementGenerator(15, 'a', 'Hyperlink', ['//developer.mozilla.org/en/HTML/Element/a', '//www.w3.org/TR/html5/text-level-semantics.html#the-a-element'], 'text-level-semantics', 2, 3)
+elementGenerator(16, 'pre', 'Text that is preformatted in the HTML code', ['//developer.mozilla.org/en/HTML/Element/pre', '//www.w3.org/TR/html5/grouping-content.html#the-pre-element'], 'grouping-content', 11, 3)
+elementGenerator(17, 'meter', 'Control for entering a numeric value in a known range', ['//developer.mozilla.org/en/HTML/Element/meter', '//www.w3.org/TR/html5/rendering.html#the-meter-element-0'], 'forms', 12, 3)
+elementGenerator(18, 'select', 'Control for selecting from multiple options', ['//developer.mozilla.org/en/HTML/Element/select', '//www.w3.org/TR/html5/rendering.html#the-select-element-0'], 'forms', 13, 3)
+elementGenerator(19, 'aside', 'Content related to surrounding elements that doesn\'t belong inline, such as a advertising or quotes', ['//developer.mozilla.org/en/HTML/Element/aside', '//www.w3.org/TR/html5/sections.html#the-aside-element'], 'document-sections', 14, 3)
+elementGenerator(20, 'h2', 'Heading for the current section', ['//developer.mozilla.org/en/HTML/Element/hn/', '//www.w3.org/TR/html5/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements'], 'document-sections', 15, 3)
+elementGenerator(21, 'header', 'Navigation or introductory elements for the current section', ['//developer.mozilla.org/en/HTML/Element/header', '//www.w3.org/TR/html5/sections.html#the-header-element'], 'document-sections', 16, 3)
+elementGenerator(22, 'caption', 'Title of a table', ['//developer.mozilla.org/en/HTML/Element/caption', '//www.w3.org/TR/html5/tabular-data.html#the-caption-element'], 'tabular-data', 17, 3)
+elementGenerator(23, 'td', 'Table cell', ['//developer.mozilla.org/en/HTML/Element/td', '//www.w3.org/TR/html5/tabular-data.html#the-td-element'], 'tabular-data', 18, 3)

+elementGenerator(24, 'meta', 'Document metadata that can\'t be represented with other elements', ['//developer.mozilla.org/en/HTML/Element/meta', '//www.w3.org/TR/html5/semantics.html#meta'], 'metadata-and-scripting', 1, 4)
+elementGenerator(25, 'rt', 'Annotation of preceding text', ['//developer.mozilla.org/en/HTML/Element/rt', '//www.w3.org/TR/html5/text-level-semantics.html#the-rt-element'], 'text-level-semantics', 2, 4)
+elementGenerator(26, 'dfn', 'Term being defined by the parent section', ['//developer.mozilla.org/en/HTML/Element/phrase_elements', '//www.w3.org/TR/html5/text-level-semantics.html#the-dfn-element'], 'text-level-semantics', 3, 4)
+elementGenerator(27, 'em', 'Text that should be emphasised', ['//developer.mozilla.org/en/HTML/Element/phrase_elements', '//www.w3.org/TR/html5/text-level-semantics.html#the-em-element'], 'text-level-semantics', 4, 4)
+elementGenerator(28, 'i', 'Text in a alternate voice or mood, such as a technical term', ['//developer.mozilla.org/en/HTML/Element/i', '//www.w3.org/TR/html5/text-level-semantics.html#the-i-element'], 'text-level-semantics', 5, 4)
+elementGenerator(29, 'small', 'An aside, such as fine print', ['//developer.mozilla.org/en/HTML/Element/small', '//www.w3.org/TR/html5/text-level-semantics.html#the-small-element'], 'text-level-semantics', 6, 4)
+elementGenerator(30, 'ins', 'Text that has been inserted during document editing', ['//developer.mozilla.org/en/HTML/Element/ins', '//www.w3.org/TR/html5/edits.html#the-ins-element'], 'text-level-semantics', 7, 4)
+elementGenerator(31, 's', 'Text that is outdated or no longer accurate', ['//developer.mozilla.org/en/HTML/Element/s', '//www.w3.org/TR/html5/text-level-semantics.html#the-s-element'], 'text-level-semantics', 8, 4)
+elementGenerator(32, 'br', 'Line break', ['//developer.mozilla.org/en/HTML/Element/br', '//www.w3.org/TR/html5/text-level-semantics.html#the-br-element'], 'grouping-content', 9, 4)
+elementGenerator(33, 'p', 'Paragraph content', ['//developer.mozilla.org/en/HTML/Element/p', '//www.w3.org/TR/html5/grouping-content.html#the-p-element'], 'grouping-content', 10, 4)
+elementGenerator(34, 'blockquote', 'Quote from another source', ['//developer.mozilla.org/en/HTML/Element/blockquote', '//www.w3.org/TR/html5/grouping-content.html#the-blockquote-element'], 'grouping-content', 11, 4)
+elementGenerator(35, 'legend', 'Define a name for a fieldset', ['//developer.mozilla.org/en/HTML/Element/legend', '//www.w3.org/TR/html5/forms.html#the-legend-element'], 'forms', 12, 4)
+elementGenerator(36, 'optgroup', 'Group of option', ['//developer.mozilla.org/en/HTML/Element/optgroup', '//www.w3.org/TR/html5/the-button-element.html#the-optgroup-element'], 'forms', 13, 4)
+elementGenerator(37, 'address', 'Contact information for the current article', ['//developer.mozilla.org/en/HTML/Element/address', '//www.w3.org/TR/html5/sections.html#the-address-element'], 'document-sections', 14, 4)
+elementGenerator(38, 'h3', 'Heading for the current section', ['//developer.mozilla.org/en/HTML/Element/hn/', '//www.w3.org/TR/html5/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements'], 'document-sections', 15, 4)
+elementGenerator(39, 'nav', 'Contains a collection of links', ['//developer.mozilla.org/en/HTML/Element/nav', '//www.w3.org/TR/html5/sections.html#the-nav-element'], 'document-sections', 16, 4)
+elementGenerator(40, 'menu', 'Set of commands', ['//developer.mozilla.org/en/HTML/Element/menu', '//www.w3.org/TR/html5/interactive-elements.html#menus'], 'interactive-elements', 17, 4)
+elementGenerator(41, 'th', 'Table heading', ['//developer.mozilla.org/en/HTML/Element/th', '//www.w3.org/TR/html5/tabular-data.html#the-th-element'], 'tabular-data', 18, 4)

+elementGenerator(42, 'base', 'Specifies URL which non-absolute URLs are relative to', ['//developer.mozilla.org/en/HTML/Element/base', '//www.w3.org/TR/html5/semantics.html#the-base-element'], 'metadata-and-scripting', 1, 5)
+elementGenerator(43, 'rp', 'Contains semantically meaningless markup for browsers that don\'t understand ruby annotations', ['//developer.mozilla.org/en/HTML/Element/rp', '//www.w3.org/TR/html5/text-level-semantics.html#the-rp-element'], 'text-level-semantics', 2, 5)
+elementGenerator(44, 'abbr', 'Abbreviation or acronym', ['//developer.mozilla.org/en/HTML/Element/abbr', '//www.w3.org/TR/html5/text-level-semantics.html#the-abbr-element'], 'text-level-semantics', 3, 5)
+elementGenerator(45, 'time', 'Time defined in a machine readable format', ['//developer.mozilla.org/en/HTML/Element/time', '//www.w3.org/TR/html5/rendering.html#the-time-element-0'], 'text-level-semantics', 4, 5)
+elementGenerator(46, 'b', 'Stylistically separated text of equal importance, such as a product name', ['//developer.mozilla.org/en/HTML/Element/b', '//www.w3.org/TR/html5/text-level-semantics.html#the-b-element'], 'text-level-semantics', 5, 5)
+elementGenerator(47, 'strong', 'Text that is important', ['//developer.mozilla.org/en/HTML/Element/phrase_elements', '//www.w3.org/TR/html5/text-level-semantics.html#the-strong-element'], 'text-level-semantics', 6, 5)
+elementGenerator(48, 'del', 'Text that has been removed during document editing', ['//developer.mozilla.org/en/HTML/Element/del', '//www.w3.org/TR/html5/edits.html#the-del-element'], 'text-level-semantics', 7, 5)
+elementGenerator(49, 'kbd', 'Example input (usually keyboard) for a program', ['//developer.mozilla.org/en/HTML/Element/phrase_elements', '//www.w3.org/TR/html5/text-level-semantics.html#the-kbd-element'], 'text-level-semantics', 8, 5)
+elementGenerator(50, 'hr', 'Thematic break within a paragraph', ['//developer.mozilla.org/en/HTML/Element/hr', '//www.w3.org/TR/html5/rendering.html#the-hr-element-0'], 'grouping-content', 9, 5)
+elementGenerator(51, 'ol', 'Ordered list', ['//developer.mozilla.org/en/HTML/Element/ol', '//www.w3.org/TR/html5/grouping-content.html#the-ol-element'], 'grouping-content', 10, 5)
+elementGenerator(52, 'dl', 'List of term-description pairs', ['//developer.mozilla.org/en/HTML/Element/dl', '//www.w3.org/TR/html5/grouping-content.html#the-dl-element'], 'grouping-content', 11, 5)
+elementGenerator(53, 'label', 'Caption for a form control', ['//developer.mozilla.org/en/HTML/Element/label', '//www.w3.org/TR/html5/forms.html#the-label-element'], 'forms', 12, 5)
+elementGenerator(54, 'option', 'Single option within a select control', ['//developer.mozilla.org/en/HTML/Element/option', '//www.w3.org/TR/html5/the-button-element.html#the-option-element'], 'forms', 13, 5)
+elementGenerator(55, 'datalist', 'Define sets of options', ['//developer.mozilla.org/en/HTML/Element/datalist', '//www.w3.org/TR/html5/the-button-element.html#the-datalist-element'], 'forms', 14, 5)
+elementGenerator(56, 'h4', 'Heading for the current section', ['//developer.mozilla.org/en/HTML/Element/hn/', '//www.w3.org/TR/html5/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements'], 'document-sections', 15, 5)
+elementGenerator(57, 'article', 'Section of the page content, such as a blog or forum post', ['//developer.mozilla.org/en/HTML/Element/article', '//www.w3.org/TR/html5/sections.html#the-article-element'], 'document-sections', 16, 5)
+elementGenerator(58, 'command', 'Command the user can perform, such as publishing an article', ['//developer.mozilla.org/en/HTML/Element/command', '//www.w3.org/TR/html5/interactive-elements.html#the-command'], 'interactive-elements', 17, 5)
+elementGenerator(59, 'tbody', 'Contains rows that hold the table\'s data', ['//developer.mozilla.org/en/HTML/Element/tbody', '//www.w3.org/TR/html5/tabular-data.html#the-tbody-element'], 'tabular-data', 18, 5)

+elementGenerator(60, 'link', 'Other resources related to the document', ['//developer.mozilla.org/en/HTML/Element/link', '//www.w3.org/TR/html5/semantics.html#the-link-element'], 'metadata-and-scripting', 1, 6)
+elementGenerator(61, 'noscript', 'Contains elements that are part of the document only if scripting is disabled', ['//developer.mozilla.org/en/HTML/Element/noscript', '//www.w3.org/TR/html5/scripting-1.html#the-noscript-element'], 'metadata-and-scripting', 2, 6)
+elementGenerator(62, 'q', 'Quoted text', ['//developer.mozilla.org/en/HTML/Element/q', '//www.w3.org/TR/html5/text-level-semantics.html#the-q-element'], 'text-level-semantics', 3, 6)
+elementGenerator(63, 'var', 'Mathematical or programming variable', ['//developer.mozilla.org/en/HTML/Element/phrase_elements', '//www.w3.org/TR/html5/text-level-semantics.html#the-var-element'], 'text-level-semantics', 4, 6)
+elementGenerator(64, 'sub', 'Subscript text', ['//developer.mozilla.org/en/HTML/Element/sup', '//www.w3.org/TR/html5/text-level-semantics.html#the-sub-and-sup-elements'], 'text-level-semantics', 5, 6)
+elementGenerator(65, 'mark', 'Text highlighted for referencing elsewhere', ['//developer.mozilla.org/en/HTML/Element/mark', '//www.w3.org/TR/html5/text-level-semantics.html#the-mark-element'], 'text-level-semantics', 6, 6)
+elementGenerator(66, 'bdi', 'Text that is separated from directional formatting of its surroundings', ['//www.w3.org/TR/html5/text-level-semantics.html#the-bdi-element'], 'text-level-semantics', 7, 6)
+elementGenerator(67, 'wbr', 'Opportunity for a line break', ['//www.w3.org/TR/html5/text-level-semantics.html#the-wbr-element'], 'text-level-semantics', 8, 6)
+elementGenerator(68, 'figcaption', 'Caption for a figure', ['//developer.mozilla.org/en/HTML/Element/figcaption', '//www.w3.org/TR/html5/grouping-content.html#the-figcaption-element'], 'grouping-content', 9, 6)
+elementGenerator(69, 'ul', 'Unordered list', ['//developer.mozilla.org/en/HTML/Element/ul', '//www.w3.org/TR/html5/grouping-content.html#the-ul-element'], 'grouping-content', 10, 6)
+elementGenerator(70, 'dt', 'Term which will be described', ['//developer.mozilla.org/en/HTML/Element/dt', '//www.w3.org/TR/html5/grouping-content.html#the-dt-element'], 'grouping-content', 11, 6)
+elementGenerator(71, 'input', 'Generic form input', ['//developer.mozilla.org/en/HTML/Element/input', '//www.w3.org/TR/html5/the-input-element.html#the-input-element'], 'forms', 12, 6)
+elementGenerator(72, 'output', 'Contains the results of a calculation', ['//developer.mozilla.org/en/HTML/Element/output', '//www.w3.org/TR/html5/the-button-element.html#the-output-element'], 'forms', 13, 6)
+elementGenerator(73, 'keygen', 'Generates private-public key pairs', ['//developer.mozilla.org/en/HTML/Element/keygen', '//www.w3.org/TR/html5/rendering.html#the-keygen-element-0'], 'forms', 14, 6)
+elementGenerator(74, 'h5', 'Heading for the current section', ['//developer.mozilla.org/en/HTML/Element/hn/', '//www.w3.org/TR/html5/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements'], 'document-sections', 15, 6)
+elementGenerator(75, 'footer', 'Footer of the current section', ['//developer.mozilla.org/en/HTML/Element/footer', '//www.w3.org/TR/html5/sections.html#the-footer-element'], 'document-sections', 16, 6)
+elementGenerator(76, 'summary', 'Caption of a details element', ['//developer.mozilla.org/en/HTML/Element/summary', '//www.w3.org/TR/html5/interactive-elements.html#the-summary-element'], 'interactive-elements', 17, 6)
+elementGenerator(77, 'thead', 'Contains rows with table headings', ['//developer.mozilla.org/en/HTML/Element/thead', '//www.w3.org/TR/html5/tabular-data.html#the-thead-element'], 'tabular-data', 18, 6)

+elementGenerator(78, 'style', 'Styling defined inline data', ['//developer.mozilla.org/en/HTML/Element/style', '//www.w3.org/TR/html5/semantics.html#the-style-element'], 'metadata-and-scripting', 1, 7)
+elementGenerator(79, 'script', 'Inline or linked client side scripts', ['//developer.mozilla.org/en/HTML/Element/script', '//www.w3.org/TR/html5/scripting-1.html#script'], 'metadata-and-scripting', 2, 7)
+elementGenerator(80, 'cite', 'Title of a referenced piece of work', ['//developer.mozilla.org/en/HTML/Element/phrase_elements', '//www.w3.org/TR/html5/text-level-semantics.html#the-cite-element'], 'text-level-semantics', 3, 7)
+elementGenerator(81, 'samp', 'Sample output of a program', ['//developer.mozilla.org/en/HTML/Element/phrase_elements', '//www.w3.org/TR/html5/text-level-semantics.html#the-samp-element'], 'text-level-semantics', 4, 7)
+elementGenerator(82, 'sup', 'Superscript text', ['//developer.mozilla.org/en/HTML/Element/sup', '//www.w3.org/TR/html5/text-level-semantics.html#the-sub-and-sup-elements'], 'text-level-semantics', 5, 7)
+elementGenerator(83, 'ruby', 'Contains text with annotations, such as pronounciation hints. Commonly used in East Asian text', ['//developer.mozilla.org/en/HTML/Element/ruby', '//www.w3.org/TR/html5/text-level-semantics.html#the-ruby-element'], 'text-level-semantics', 6, 7)
+elementGenerator(84, 'bdo', 'Defines directional formatting for content', ['//developer.mozilla.org/en/HTML/Element/bdo', '//www.w3.org/TR/html5/text-level-semantics.html#the-bdo-element'], 'text-level-semantics', 7, 7)
+elementGenerator(85, 'code', 'Fragment of code', ['//developer.mozilla.org/en/HTML/Element/phrase_elements', '//www.w3.org/TR/html5/text-level-semantics.html#the-code-element'], 'text-level-semantics', 8, 7)
+elementGenerator(86, 'figure', 'Contains elements related to single concept, such as an illustration or code example', ['//developer.mozilla.org/en/HTML/Element/figure', '//www.w3.org/TR/html5/grouping-content.html#the-figure-element'], 'grouping-content', 9, 7)
+elementGenerator(87, 'li', 'List item', ['//developer.mozilla.org/en/HTML/Element/li', '//www.w3.org/TR/html5/grouping-content.html#the-li-element'], 'grouping-content', 10, 7)
+elementGenerator(88, 'dd', 'Description for the preceding term', ['//developer.mozilla.org/en/HTML/Element/dd', '//www.w3.org/TR/html5/grouping-content.html#the-dd-element'], 'grouping-content', 11, 7)
+elementGenerator(89, 'textarea', 'Multiline free-form text input', ['//developer.mozilla.org/en/HTML/Element/textarea', '//www.w3.org/TR/html5/rendering.html#the-textarea-element-0'], 'forms', 12, 7)
+elementGenerator(90, 'button', 'A button', ['//developer.mozilla.org/en/HTML/Element/button', '//www.w3.org/TR/html5/rendering.html#the-button-element-0'], 'forms', 13, 7)
+elementGenerator(91, 'progress', 'Control for displaying progress of a task', ['//developer.mozilla.org/en/HTML/Element/progress', '//www.w3.org/TR/html5/rendering.html#the-progress-element-0'], 'forms', 14, 7)
+elementGenerator(92, 'h6', 'Heading for the current section', ['//developer.mozilla.org/en/HTML/Element/hn/', '//www.w3.org/TR/html5/sections.html#the-h1-h2-h3-h4-h5-and-h6-elements'], 'document-sections', 15, 7)
+elementGenerator(93, 'hgroup', 'Collection of headings for the current section. The highest ranked heading represents the group in the document outline', ['//developer.mozilla.org/en/HTML/Element/hgroup', '//www.w3.org/TR/html5/sections.html#the-hgroup-element'], 'document-sections', 16, 7)
+elementGenerator(94, 'details', 'Contains additional information, such as the contents of an accordian view', ['//developer.mozilla.org/en/HTML/Element/details', '//www.w3.org/TR/html5/rendering.html#the-details-element-0'], 'interactive-elements', 17, 7)
+elementGenerator(95, 'tfoot', 'Contains rows with summary of data', ['//developer.mozilla.org/en/HTML/Element/tfoot', '//www.w3.org/TR/html5/tabular-data.html#the-tfoot-element'], 'tabular-data', 18, 7)

+elementGenerator(96, 'img', 'An image', ['//developer.mozilla.org/en/HTML/Element/img', '//www.w3.org/TR/html5/embedded-content-1.html#the-img-element'], 'embedding-content', 7, 9)
+elementGenerator(97, 'area', 'Hyperlink area in an image map', ['//developer.mozilla.org/en/HTML/Element/area', '//www.w3.org/TR/html5/the-map-element.html#the-area-element'], 'embedding-content', 8, 9)
+elementGenerator(98, 'map', 'Image map for adding hyperlinks to parts of an image', ['//developer.mozilla.org/en/HTML/Element/map', '//www.w3.org/TR/html5/the-map-element.html#the-map-element'], 'embedding-content', 9, 9)
+elementGenerator(99, 'embed', 'Reference to non-HTML content', ['//developer.mozilla.org/en/HTML/Element/embed', '//www.w3.org/TR/html5/the-iframe-element.html#the-embed-element'], 'embedding-content', 10, 9)
+elementGenerator(100, 'object', 'External resource such as an image, iframe or plugin', ['//developer.mozilla.org/en/HTML/Element/object', '//www.w3.org/TR/html5/the-iframe-element.html#the-object-element'], 'embedding-content', 11, 9)
+elementGenerator(101, 'param', 'Parameters for the parent object', ['//developer.mozilla.org/en/HTML/Element/param', '//www.w3.org/TR/html5/the-iframe-element.html#the-param-element'], 'embedding-content', 12, 9)
+elementGenerator(102, 'source', 'Alternative sources for parent video or audio elements', ['//developer.mozilla.org/en/HTML/Element/source', '//www.w3.org/TR/html5/video.html#the-source-element'], 'embedding-content', 13, 9)
+elementGenerator(103, 'iframe', 'Nested browser frame', ['//developer.mozilla.org/en/HTML/Element/iframe', '//www.w3.org/TR/html5/the-iframe-element.html#the-iframe-element'], 'embedding-content', 14, 9)
+elementGenerator(104, 'canvas', 'Bitmap which is editable by client side scripts', ['//developer.mozilla.org/en/HTML/Element/canvas', '//www.w3.org/TR/html5/the-canvas-element.html#the-canvas-element'], 'embedding-content', 15, 9)
+elementGenerator(105, 'track', 'Specifies external timing track for media elements', ['//www.w3.org/TR/html5/the-iframe-element.html#the-track-element'], 'embedding-content', 16, 9)
+elementGenerator(106, 'audio', 'Audio file', ['//developer.mozilla.org/en/HTML/Element/audio', '//www.w3.org/TR/html5/the-iframe-element.html#the-audio-element'], 'embedding-content', 17, 9)
+elementGenerator(107, 'video', 'Video', ['//developer.mozilla.org/en/HTML/Element/video', '//www.w3.org/TR/html5/the-iframe-element.html#the-video-element'], 'embedding-content', 18, 9)
