- locals.categories = ['root-element', 'metadata-scripting', 'inline-text-semantics', 'forms', 'text-content', 'content-sectioning-root', 'interactive-elements', 'tabular-data', 'web-components', 'image-multimedia-embedded-content', 'obsolete-and-deprecated'];
