- locals.categories = ['root-element', 'metadata-and-scripting', 'text-level-semantics', 'grouping-content', 'forms', 'document-sections', 'interactive-elements', 'tabular-data', 'embedding-content'];
