:global(@keyframes rotate) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:global(@keyframes fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
